
html,body{
    margin:0;
    padding:0;
    height:100vh;
    width:100%;
}

html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    filter: brightness(0.9);
}
body{
    background: #f2f2f2;
    color:#181818;
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    box-sizing: border-box;
}
header{
    height:100vh;
    width:100%;
    position: relative;
}
.toggle-btn{
    position:fixed;
    top:2%;
    left:2%;
}
label{
    position:absolute;
    background:#5cb8e4;
    height:30px;
    width:60px;
    border-radius: 20px;
}
#toggle{
    display: none;
}
.small-circle{
    height:20px;
    width:20px;
    border-radius: 50%;
    background:#f2f2f2;
    margin:5px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:50px;
    width:100%;
    
}
nav.fixed{
    position: fixed;
    top:0;
    left:0;
    background:#181818;
}
.mps,.mcas{
    overflow-y: auto;
    overflow-x: hidden;
    height:140px;
    display: none;  
}

.mps.seen,.mcas.seen{
    display: block;
}
li{
    list-style: none;
    background:#5cb8e4;
    margin:5px 0;
    padding:5px;
    cursor:pointer;
    color: #181818;
}
.mps > li, .mcas > li{
    margin:5px;
    background:#8758ff;
    padding: 5px;
}
.main-menu{
    position:fixed;
    top:6%;
    right:2%;
    height:200px;
    width:200px;
    display: none;
    transition: display .4s ease-in-out;
}
.main-menu.show{
    display: block;
    
}
.menu-btn{
    padding: 6px 8px;
    background:#8758ff;
    border:none;
    border-radius: 2px;
    cursor:pointer;
    color: #f2f2f2;
    position:fixed;
    top:2%;
    right:2%;
}
.fa{
    margin-left:10px;
}
.menu-btn:hover{
    filter:brightness(0.8);
}

.article{
    margin: 150px 20px 0 20px;
    text-align: center;
    padding: 20px 10px 0 10px;
    font-size: 20px;
    font-weight: bold;
}
.main-btn{
    padding: 10px 15px;
    background:#8758ff;
    color:#f2f2f2;
    margin-top:10px;
    border-radius: 8px;
    border:none;
    box-shadow: 0 10px 15px #181818;
}
.background{
    background: url('IEBC\ CHAIR-SMALL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity: .4;
}
.preloader{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    background:url('multitude-small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.hide{
    display: none;
}
.preloader-heading{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    font-size: 20px;
    color:#f2f2f2;
}
.headings{
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #181818;
}
.para{
    margin:5px 10px;
}

figure{
    margin:5px;
    text-align: center;
}
figure img{
    height:250px;
    width:250px;
}
.picture{
    text-align: center;
}
/* .format{
    height:250px;
    width:250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.chair{
    background: url('IEBC\ CHAIR-SMALL.jpg');
    height:250px;
    width:250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ruto-gachagua{
    background:url('RUTO\ AND\ GACHAGUA-SMALL.jpg');
    height:250px;
    width:250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ruto-swearing{
    background:url('PRESIDENT\ RUTO\ SWEARING-SMALL.jpg');
    height:250px;
    width:250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

figcaption{
    font-style: italic;
    color:#8758ff;
    font-size: 12px;
}
.floating-ad{
    position: fixed;
    bottom:10%;
    left:50%;
    transform: translateX(-50%);
    height:160px;
    width:220px;
    border:2px solid #5cb8e4;
    border-radius: 4px;
    background:#5cb8e4;
    text-align: center;
    display: none;
    transition: display .2s ease-in-out;
    
}
.floating-ad.show{
    display: block;
}
.close-aside-btn{
    padding: 4px 6px;
    background:#181818;
    color:#f2f2f2;
    border:none;
    border-radius: 2px;
    margin:4px;
}
.reach-out-btn{
    padding:4px 6px;
    background:#8758ff;
    color:#f2f2f2;
    border: none;
    border-radius: 2px;
}

/* The sections detailing how each candidate performed */
/* We'll give each section a height of 100vh and a width of 100% */
#president,#governor,#gatundu-north,#gatundu-south,#githunguri,#kabete,#kiambaa,#kiambu,#kikuyu,#lari,#ruiru,#thika,#limuru,#juja,footer{
    height:100vh;
    width:100%;
    margin:20px 0;
    
}
.overflow{
    overflow-y: auto;
}
table{
    border:2px solid #8758ff;
    margin:0 auto;
    border-collapse: collapse;
}
th,td{
    border:1px solid #181818;
    padding: 4px 8px;
    text-align: center;
}
th{
    background:#8758ff;
    color: #f2f2f2;
}
tr:nth-child(even){
    background:#5cb8e4;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.channels{
    background:black;
    color:white;
    padding:2px;
    margin:2px;
    font-size: 10px;
}
hr{
    margin:10px 20px;
    padding-top:10px;
    color:#8758ff;
}
#author{
    height:100vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    background:#5cb8e4;
    margin:0;
    padding-top:5px;
}
.footer{
    background: #181818;
    color:#f2f2f2;
    margin:5px;
    border-radius: 5px;
    padding: 4px 8px;
}


@media (max-width:320px){
    body{
        font-size: 14px;
    }
    .footer{
        font-size: 14px;
        padding: 2px 5px;
    }
    .headings{
        font-size: 16px;
    }
}

@media (min-width:800px){
    body{
        font-size: 18px;
        line-height: 27px;
    }
    .container{
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: auto;
    }
    .main{
        grid-column: 2/3;
    }
    .main-menu{
        height:300px;
        width:300px;
        top:8%;
    }
    .background{
        background: url('IEBC\ CHAIR.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    label{
        height:40px;
        width:80px;
        border-radius: 40px;
    }
    .small-circle{
        height:30px;
        width:30px;
        margin:5px;
    }
    .menu-btn{
        padding: 14px;
        border-radius: 10px;
        font-size: 18px;
    }
    .preloader{
        background:url('multitude.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .preloader-heading{
        font-size: 50px;
        letter-spacing: 6px;
    }
    .article{
        margin: 200px 50px 0 50px;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 6px;
    }
    .main-btn{
        padding: 20px 25px;
        font-size: 18px;
    }
    .chair{
        background: url('IEBC\ CHAIR.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:350px;
        width:auto;
        text-align: center;
    }
    .ruto-gachagua{
        background: url('RUTO\ AND\ GACHAGUA.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:350px;
        width:auto;
        text-align: center;
    }
    .ruto-swearing{
        background: url('PRESIDENT\ RUTO\ SWEARING.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:350px;
        width:auto;
        text-align: center;
    }
    figure img{
        height:300px;
        width:auto;
    }
    
}